.row{
    box-sizing: border-box;
   margin-left: 20px;

}
.rowTitle{
    display: flex;
    justify-self: flex-start;
    margin-left: 20px;
    color: white;

}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    
    
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 10px;
  

}
.row_poster:hover{
    transform: scale(1.09);

}
.row_posterLarge{
    max-height: 250px;
    border-radius: 10px;
    object-fit: contain;

}
.row_posterLarge:hover{
    transform: scale(1.1);
}
