.signupscreen{
   padding: 60px;
    max-width: 300px;
    border-radius: 8px ;
    margin-left: auto;
    margin-right: auto;
    background: rgba(34, 33, 33, 0.8);

}
.signupform{
    display: flex;
    flex-direction: column;
   
    
}
.signupform >h1{
    margin-bottom: 20px;
}
.signupform >input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px ;
    outline-width: 0;
    height: 20px;
    width:87%;
    border: none;
    max-width: 600px;
    font-size: larger;
    padding-left: 20px;
}
.signupform >button{
   
    margin-top: 30px;
    outline-width: 0;
    height: 35px;
    border: none;
    max-width: 600px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border-radius: 5px ;
    
}
.signupform >h5{
    margin-top: 20px;
    text-align: left;
}
.greytext{
    color: grey;
}
.textlink:hover{
cursor: pointer;
text-decoration: underline;
}